<!DOCTYPE html>
<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{%block content%}
<section class="section-conten padding-y mt-3 w-100">
    <div class="container-fluid ">
        <div class="row">

            <aside class="col-md-3 col-lg-3">
                <!--   SIDEBAR   1-->


                <!--   SIDEBAR   2 -->
                <ul class="list-group dash_opt text-center">
                    <a class="list-group-item active" href="{%url 'dashboard'%}"> My Profile</a>
                    <a class="list-group-item btn-primary border" href="{%url 'addpatient'%}"> Add Patient</a>
                    <a class="list-group-item btn-primary border" href="{%url 'viewpatients'%}"> View Patients </a>
                    <a class="list-group-item btn-primary border" href="{%url 'viewconsdoctor'%}"> View Patients Sent to
                        Doctor
                        List </a>
                </ul>
                <br>
                <a class="btn btn-danger btn-block mb-3" href="{%url 'logout'%}"
                    onclick="return confirm('Are you sure you want to Logout?')"> <i class="fa fa-power-off"></i>
                    <span class="text">Logout</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                {%include 'messages/messages.html'%}
                <!-- === PAGE PART 1 PROFILE-->
                {%if page1 == 'dash1'%}
                <article class="card mb-3">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Welcome To</strong>
                        <span>CONSULTATION DASHBOARD</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h6 class="text-muted">Remember the aim of Our Hospital</h6> <br>
                                <p>Deliver a good Services..! <br>
                                    We know that a patient is our best client, <br>
                                    The better we treat them with good care,<br>
                                    This wil raise the strength of our hospital.<br>
                                    Together we can make it..!
                                </p>
                            </div>
                            <div class="col-md-4 bg-primary">
                                <h6 class="text-muted text-center pt-2">MY PROFILE</h6>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item">
                                        {%if user.photo%}
                                        <img src="{{user.photo.url}}" style="max-width: 150px; height:150px;"
                                            class="rounded-circle img-thumbnail mx-auto d-block my-3"
                                            alt="profile photo">
                                        {%else%}
                                        <img src="{%static 'img/person/avatar.png'%}"
                                            style="max-width: 150px; height:150px;"
                                            class="rounded-circle img-thumbnail mx-auto d-block my-3 text-center">
                                        {%endif%}
                                    </li>
                                    <li class="list-group-item text-center">{{user.user.first_name}}</li>
                                    <li class="list-group-item text-center"> {{user.user.last_name}}</li>
                                </ul>
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->

                </article> <!-- order-group.// -->
                <!-- === PAGE PART 1 END-->

                <!-- PAGE PART 2 ADD PATIENT -->
                {%elif page2 == 'dash2'%}
                <div class="page-section">
                    <div class="container">
                        <h1 class="text-center wow fadeInUp">ADD PATIENT FORM</h1>

                        <form class="main-form" method="POST">
                            {%csrf_token%}
                            <div class="row mt-5">
                                {{patient |crispy}}
                            </div>
                            <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Save / Update</button>
                        </form>
                    </div> <!-- .container -->
                </div>

                <!-- PAGE PART 2 END -->
                <!-- PAGE PART 3 VIEW PATIENTS-->
                {%elif page3 == 'dash3'%}
                <div class="container-fluid  my-3 tab">
                    <h2 class="text-center">LIST OF PATIENTS</h2><br>
                    <!-- search bar -->
                    <form action="#" class="mb-3 p-0">
                        <div class="input-group input-navbar">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="icon-addon1"><span class="mai-search"></span></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search Patient record.."
                                aria-label="Username" aria-describedby="icon-addon1">
                        </div>
                    </form>
                    <!-- search bar end  -->
                    <div class="row p-0 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-0 border shadow-lg text-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr class="bg-success text-light">
                                        <th scope="col">PATIENT ID</th>
                                        <th scope="col">FIRST NAME</th>
                                        <th scope="col">LAST NAME</th>
                                        <th scope="col">SEX</th>
                                        <th scope="col">DISTRICT</th>
                                        <th scope="col">SECTOR</th>
                                        <th scope="col">CELL</th>
                                        <th scope="col">VILLAGE</th>
                                        <th scope="col">PHONE</th>
                                        <th scope="col">DISEASE</th>
                                        <th scope="col" colspan="2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for patient in patients%}
                                    <form action="" method="POST">
                                        {%csrf_token%}
                                        <tr>
                                            <td>{{patient.id}}</td>
                                            <td>{{patient.first_name}}</td>
                                            <td>{{patient.last_name}}</td>
                                            <td>{{patient.sex}}</td>
                                            <td>{{patient.district}}</td>
                                            <td>{{patient.sector}}</td>
                                            <td>{{patient.cell}}</td>
                                            <td>{{patient.village}}</td>
                                            <td>{{patient.phone}}</td>
                                            <td>{{patient.disease}}</td>
                                            <td><a href="{%url 'editpatient' patient.id%}">Edit</a></td>
                                            <td><a href="{%url 'consdoctor' patient.id%}" class="text-danger">SEND TO
                                                    DOCTOR</a>
                                            </td>
                                        </tr>
                                    </form>
                                    {%endfor%}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- PAGE PART 3 END-->

                <!-- ====== PAGE PART 4 VIEW PATIENT RECORD SENT TO DOCTOR=========== -->
                {%elif page5 == 'dash5'%}
                <div class="page-banner overlay-dark bg-image"
                    style="background-image: url(../static/img/bg_image_1.jpg);">
                    <div class="banner-section">
                        <div class="container-fluid text-center wow fadeInUp">
                            <h1 class="font-weight-normal">LIST OF PATIENT RECORDS SENT TO DOCTORS</h1>
                        </div> <!-- .container -->
                    </div> <!-- .banner-section -->
                </div> <!-- .page-banner -->
                <div class="container-fluid  my-3 tab">
                    <div class="row p-0 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-0 border shadow-lg text-center">
                        {%if patientrecord%}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr class="bg-success text-light">
                                        <th scope="col">PATIENT ID</th>
                                        <th scope="col">FIRST NAME</th>
                                        <th scope="col">LAST NAME</th>
                                        <th scope="col">DISEASE TO TEST</th>
                                        <th scope="col">DATE SENT</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for record in patientrecord%}
                                    <tr>
                                        <td>{{record.patient.id}}</td>
                                        <td>{{record.patient.first_name}}</td>
                                        <td>{{record.patient.last_name}}</td>
                                        <td>{{record.patient.disease.name}}</td>
                                        <td>{{record.date}}</td>
                                        <td><a onclick="return confirm('Are you want to delete this record?')"
                                                href="{%url 'delrecord' record.id%}" class="text-danger">Delete</a></td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>

                        </div>
                        {%else%}
                        <h1>No Records Send..!</h1>
                        {%endif%}
                    </div>
                </div>
                <!-- ====== PAGE PART 4 END=========== -->
                {%endif%}
            </main>

            <!-- settings -->
            <!-- profile settings end -->
        </div> <!-- row.// -->
    </div>


</section>
{%endblock%}